<h4>{{ _('Locations') }}</h4>
<table class="table table-condensed">
    <thead>
        <tr>
            <td style="text-align:center">{{ _('Name') }}</td>
            <td style="text-align:right"><a href="#" class="btn btn-mini" data-bind="click: $root.showCreateLocationModal"><i class="fa fa-plus" aria-hidden="true"></i></a></td>
        </tr>
    </thead>
    <tbody data-bind="foreach: $root.locations">
        <tr>
            <td><span data-bind="text: name"></span></td>
            <td style="text-align:right">
                <div class="btn-group">
                    <a href="#" class="btn btn-mini" data-bind="click: $root.showEditLocationModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="#" class="btn btn-mini btn-danger" data-bind="click: $root.showDeleteLocationModal"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div id="AirQualityLocationCreateModal" data-bind="with: selectedLocation" class="modal hide fade" data-backdrop="static">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Create a new location') }}</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">{{ _('Name') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: name">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
        <a href="#" class="btn btn-primary" data-bind="click: $root.createLocation" aria-hidden="true">{{ _('Create') }}</a>
    </div>
</div>
<div id="AirQualityLocationEditModal" data-bind="with: selectedLocation" class="modal hide fade" data-backdrop="static">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Edit an existing location') }}</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">{{ _('Name') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: name">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{{ _('Cancel') }}</a>
        <a href="#" class="btn btn-primary" data-bind="click: $root.editLocation">{{ _('Change') }}</a>
    </div>
</div>
<div id="AirQualityLocationDeleteModal" data-bind="with: selectedLocation" class="modal hide fade" data-backdrop="static">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Delete an existing location') }}</h3>
    </div>
    <div class="modal-body">
        <p class="lead">{{ _('Are you sure you want to delete this location?') }}</p>
        <dl class="dl-horizontal">
            <dt>{{ _('Name') }}</dt>
            <dd><span data-bind="text: name" /></dd>
        </dl>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{{ _('Cancel') }}</a>
        <a href="#" class="btn btn-primary" data-bind="click: $root.deleteLocation">{{ _('Delete') }}</a>
    </div>
</div>